<ion-footer>

  <ion-toolbar>
    <ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="perfil()">

      <ion-icon name="contact" color="primary"></ion-icon>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="md-apps" color="primary"></ion-icon>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="mail" color="primary"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>

  </ion-toolbar>
</ion-footer>

<ion-content>
    <ion-card class="active-card ion-activatable" >
      <ion-ripple-effect></ion-ripple-effect>
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Pessoa 1</ion-card-subtitle>
        <ion-card-title>Eat Now</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="active-card ion-activatable" >
      <ion-ripple-effect></ion-ripple-effect>
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Pessoa 2</ion-card-subtitle>
        <ion-card-title>Schedule a Time</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card color="medium" >
      <!-- <ion-img src="/assets/shapes.svg"></ion-img> -->
      <ion-card-header>
        <ion-card-subtitle>   </ion-card-subtitle>
        <ion-card-title>   </ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-footer padding>
        <div text-center>
          <ion-label color="medium">  </ion-label>
        </div>
    </ion-footer>